:root {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;

    --fg-accent-color: #ff9ef2;
    --subtitle-color: #888888;
    --social-icons-color: #8dd5e7;

    --box-border-size: 2px;
    --box-border-color: var(--fg-accent-color);
    --box-background-color: black;
    --box-padding-x: 2ch;
    --box-padding-y: 1em;

    --diamond-decal-size: 24px;
    --diamond-decal-color: var(--fg-accent-color);

    --content-width: min(calc(100% - 20ch), 100ch);
    --content-clouds-allowed-overlap: 2ch;
    --content-height: 5000px;

    --bg-color: #00010f;
    --wave-screen-bottom-offset: max(30vh, 150px);
    --wave-cloud-min-spacing: 25vh;
    --wave-content-spacing: 75px;
    --wave-fake-offset: 35px;
    --wave-fake-offset-default: calc(var(--wave-fake-offset) / 1.75);

    --page-height: calc(var(--content-height) + var(--wave-screen-bottom-offset) + var(--wave-content-spacing));
}

html {
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100vs;
    height: 100vh;
    margin: 0;
    background: var(--bg-color);
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content {
    background-color: transparent;
    color: white;
    position: relative;
    width: var(--content-width);
    margin: 0 auto;
    z-index: 0;
}

.title-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.title {
    font-size: 96px;
    font-weight: bold;
    line-height: 1.1;
    color: var(--fg-accent-color);
    text-align: center;
    background-color: var(--bg-color);
    border-radius: 48px;
}

h2.subtitle {
    font-size: 24px;
    font-style: italic;
    line-height: 1.1;
    color: var(--subtitle-color);
    text-align: center;
    background-color: var(--bg-color);
    border-radius: 12px;
}

.social-icons {
    padding-top: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 12px;
}

.social-icons a.fa {
    color: var(--bg-color);
    background-color: var(--social-icons-color);
    font-size: 30px;
    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 6px;
    transition: transform 80ms ease, color 80ms ease, background-color 80ms ease;
}

.social-icons a.fa:hover {
    /* transform: translateY(-2px); */
    background-color: var(--fg-accent-color);
    outline: none;
}

.social-icons a.fa:active {
    /* transform: translateY(-4px); */
    background-color: white;
    color: var(--fg-accent-color);
    outline: none;
}

.box {
    background-color: var(--box-background-color);
    border: var(--box-border-size) solid var(--box-border-color);
    padding-left: var(--box-padding-x);
    padding-right: var(--box-padding-x);
    padding-top: var(--box-padding-y);
    padding-bottom: var(--box-padding-y);
    width: var(--page-width);
    margin: 0 auto;
    position: relative;
}

.diamond-decal-tl,
.diamond-decal-tr,
.diamond-decal-bl,
.diamond-decal-br {
    position: absolute;
    width: var(--diamond-decal-size);
    height: var(--diamond-decal-size);
    background: var(--diamond-decal-color);
    clip-path: polygon(0% 50%, 33.33333% 33.33333%, 50% 0%, 66.66667% 33.33333%, 100% 50%,
            66.66667% 66.66667%, 50% 100%, 33.33333% 66.66667%);
}

.diamond-decal-tl {
    top: calc(-0.5 * (var(--diamond-decal-size) + var(--box-border-size)));
    left: calc(-0.5 * (var(--diamond-decal-size) + var(--box-border-size)));
}

.diamond-decal-tr {
    top: calc(-0.5 * (var(--diamond-decal-size) + var(--box-border-size)));
    right: calc(-0.5 * (var(--diamond-decal-size) + var(--box-border-size)));
}

.diamond-decal-bl {
    bottom: calc(-0.5 * (var(--diamond-decal-size) + var(--box-border-size)));
    left: calc(-0.5 * (var(--diamond-decal-size) + var(--box-border-size)));
}

.diamond-decal-br {
    bottom: calc(-0.5 * (var(--diamond-decal-size) + var(--box-border-size)));
    right: calc(-0.5 * (var(--diamond-decal-size) + var(--box-border-size)));
}

.ruler {
    height: var(--content-height);
    border-left: 1px solid red;
    background-image: linear-gradient(90deg, rgb(255, 0, 0) 50%, transparent 50%), linear-gradient(rgb(255, 0, 0) 50%, transparent 50%);
    background-size: 1ch 1.2em;
    background-position: left top;
    background-repeat: repeat-y;
}

.fg1,
.fg2,
.fg3,
.bg1,
.bg2,
.bg3,
.bg4,
.bg5,
.bg6,
.bg7,
.bg8,
.bg9,
.bg10,
.bg11,
.bg12,
.bg13,
.bg14,
.bg15,
.bg16,
.bg17,
.bg18,
.bg19,
.bg20 {
    pointer-events: none;
}

.fg1 {
    transform: translateZ(0.25px) scale(0.75);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
}

.fg2 {
    transform: translateZ(0.5px) scale(0.5);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: 2;
}

.fg3 {
    transform: translateZ(0.75px) scale(0.25);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: 3;
}

.bg1 {
    transform: translateZ(-0.25px) scale(1.25);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
}

.bg2 {
    transform: translateZ(-0.5px) scale(1.5);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -2;
}

.bg3 {
    transform: translateZ(-0.75px) scale(1.75);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -3;
}

.bg4 {
    transform: translateZ(-1px) scale(2);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -4;
}

.bg5 {
    transform: translateZ(-1.25px) scale(2.25);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -5;
}

.bg6 {
    transform: translateZ(-1.5px) scale(2.5);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -6;
}

.bg7 {
    transform: translateZ(-1.75px) scale(2.75);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -7;
}

.bg8 {
    transform: translateZ(-2px) scale(3);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -8;
}

.bg9 {
    transform: translateZ(-2.25px) scale(3.25);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -9;
}

.bg10 {
    transform: translateZ(-2.5px) scale(3.5);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -10;
}

.bg11 {
    transform: translateZ(-2.75px) scale(3.75);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -11;
}

.bg12 {
    transform: translateZ(-3px) scale(4);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -12;
}

.bg13 {
    transform: translateZ(-3.25px) scale(4.25);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -13;
}

.bg14 {
    transform: translateZ(-3.5px) scale(4.5);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -14;
}

.bg15 {
    transform: translateZ(-3.75px) scale(4.75);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -15;
}

.bg16 {
    transform: translateZ(-4px) scale(5);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -16;
}

.bg17 {
    transform: translateZ(-4.25px) scale(5.25);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -17;
}

.bg18 {
    transform: translateZ(-4.5px) scale(5.5);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -18;
}

.bg19 {
    transform: translateZ(-4.75px) scale(5.75);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -19;
}

.bg20 {
    transform: translateZ(-5px) scale(6);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -20;
}

.bg1-stars,
.bg2-stars,
.bg3-stars,
.bg4-stars,
.bg5-stars,
.bg6-stars,
.bg7-stars,
.bg8-stars,
.bg9-stars,
.bg10-stars,
.bg11-stars,
.bg12-stars,
.bg13-stars,
.bg14-stars,
.bg15-stars,
.bg16-stars,
.bg17-stars,
.bg18-stars,
.bg19-stars,
.bg20-stars {
    position: absolute;
    width: 100%;
    background-size: 1920px 1080px;
    background-repeat: repeat;
    background-position: top center;
}

.bg18-stars {
    height: calc((var(--page-height) - 100vh) / 5.5 + 100vh);
    background-image: url('stars1.webp');
}

.bg19-stars {
    height: calc((var(--page-height) - 100vh) / 5.75 + 100vh);
    background-image: url('stars2.webp');
}

.bg20-stars {
    height: calc((var(--page-height) - 100vh) / 6 + 100vh);
    background-image: url('stars3.webp');
}

.moon {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: 170px 170px;
    background-repeat: no-repeat;
    background-position: top max(30px, min(200px, calc(100vh - 200px))) right 15%;
    background-image: url('moon.webp');
}

.fg1-clouds-left {
    --sizex: 634px;
    --sizey: 1390px;
    position: absolute;
    top: 100vh;
    left: min(0px, calc(50% - var(--sizex) * 0.5 - var(--content-clouds-allowed-overlap) - var(--content-width) * 0.5));
    /* make the clouds shift to the left if they would overlap content */
    width: 100%;
    height: round(down, calc((var(--page-height) - 100vh) / 0.75 - var(--wave-screen-bottom-offset) - var(--wave-cloud-min-spacing)), var(--sizey));
    background-size: var(--sizex) var(--sizey);
    background-repeat: repeat-y;
    background-position: top left calc(var(--sizex) * -0.5);
    background-image: url('cloudsfgleft.webp');
}

.fg1-clouds-right {
    --sizex: 527px;
    --sizey: 1350px;
    position: absolute;
    top: 100vh;
    right: min(0px, calc(50% - var(--sizex) * 0.5 - var(--content-clouds-allowed-overlap) - var(--content-width) * 0.5));
    /* make the clouds shift to the left if they would overlap content */
    width: 100%;
    height: round(down, calc((var(--page-height) - 100vh) / 0.75 - var(--wave-screen-bottom-offset) - var(--wave-cloud-min-spacing)), var(--sizey));
    background-size: var(--sizex) var(--sizey);
    background-repeat: repeat-y;
    background-position: top right calc(var(--sizex) * -0.5);
    background-image: url('cloudsfgright.webp');
}

.bg2-clouds {
    --sizex: 1674px;
    --sizey: 1681px;
    position: absolute;
    top: 100vh;
    width: 100%;
    height: round(down, calc((var(--page-height) - 100vh) / 1.5 - var(--wave-screen-bottom-offset) - var(--wave-cloud-min-spacing)), var(--sizey));
    background-size: var(--sizex) var(--sizey);
    background-repeat: repeat;
    background-position: top center;
    background-image: url('cloudsbg1.webp');
}

.bg4-clouds {
    --sizex: 1069px;
    --sizey: 1477px;
    position: absolute;
    top: 100vh;
    width: 100%;
    height: round(down, calc((var(--page-height) - 100vh) / 2 - var(--wave-screen-bottom-offset) - var(--wave-cloud-min-spacing)), var(--sizey));
    background-size: var(--sizex) var(--sizey);
    background-repeat: repeat;
    background-position: top center;
    background-image: url('cloudsbg2.webp')
}

.fg3-wave {
    --sizex: 726px;
    --sizey: 91px;
    position: absolute;
    top: calc((var(--page-height) - 100vh + var(--wave-fake-offset)) / 0.25 - var(--wave-fake-offset-default) + 100vh - var(--wave-screen-bottom-offset));
    width: 100%;
    height: var(--sizey);
    background-size: var(--sizex) var(--sizey);
    background-repeat: repeat-x;
    background-position: top center;
    background-image: url('wavefg2.webp')
}

.fg3-wave::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: calc(var(--wave-screen-bottom-offset) - var(--sizey) - var(--wave-fake-offset) / 0.25 + var(--wave-fake-offset-default));
    background: var(--bg-color);
    pointer-events: none;
}

.fg1-wave {
    --sizex: 240px;
    --sizey: 33px;
    position: absolute;
    top: calc((var(--page-height) - 100vh + var(--wave-fake-offset)) / 0.75 - var(--wave-fake-offset-default) + 100vh - var(--wave-screen-bottom-offset));
    width: 100%;
    height: var(--sizey);
    background-size: var(--sizex) var(--sizey);
    background-repeat: repeat-x;
    background-position: top center;
    background-image: url('wavefg1.webp')
}

.fg1-wave::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: calc(var(--wave-screen-bottom-offset) - var(--sizey) - var(--wave-fake-offset) / 0.75 + var(--wave-fake-offset-default));
    background: var(--bg-color);
    pointer-events: none;
}

.bg1-wave {
    --sizex: 144px;
    --sizey: 22px;
    position: absolute;
    top: calc((var(--page-height) - 100vh + var(--wave-fake-offset)) / 1.25 - var(--wave-fake-offset-default) + 100vh - var(--wave-screen-bottom-offset));
    width: 100%;
    height: var(--sizey);
    background-size: var(--sizex) var(--sizey);
    background-repeat: repeat-x;
    background-position: top center;
    background-image: url('wavebg1.webp')
}

.bg1-wave::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: calc(var(--wave-screen-bottom-offset) - var(--sizey) - var(--wave-fake-offset) / 1.25 + var(--wave-fake-offset-default));
    background: var(--bg-color);
    pointer-events: none;
}

.bg3-wave {
    --sizex: 102px;
    --sizey: 17px;
    position: absolute;
    top: calc((var(--page-height) - 100vh + var(--wave-fake-offset)) / 1.75 - var(--wave-fake-offset-default) + 100vh - var(--wave-screen-bottom-offset));
    width: 100%;
    height: var(--sizey);
    background-size: var(--sizex) var(--sizey);
    background-repeat: repeat-x;
    background-position: top center;
    background-image: url('wavebg2.webp');
    transform: translateZ(0);
}

.bg3-wave::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: calc(var(--wave-screen-bottom-offset) - var(--sizey) - var(--wave-fake-offset) / 1.75 + var(--wave-fake-offset-default));
    background: var(--bg-color);
    pointer-events: none;
}