:root {
    --bg-color: #00010f;
    --bg-color-star-blend: #0a000f;
    --base-star-color: rgb(192, 162, 28);
    --base-moon-color: #fff8da;

    --content-width: min(calc(100% - 10ch), 100ch);
}

html {
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100vs;
    height: 100vh;
    margin: 0;
    background: var(--bg-color);
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content {
    background-color: transparent;
    color: white;
    position: relative;
    width: var(--content-width);
    margin: 0 auto;
    z-index: 0;
}

.bg1 {
    transform: translateZ(-0.25px) scale(1.25);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
}

.bg2 {
    transform: translateZ(-0.5px) scale(1.5);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -2;
}

.bg3 {
    transform: translateZ(-0.75px) scale(1.75);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -3;
}

.bg4 {
    transform: translateZ(-1px) scale(2);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -4;
}

.bg5 {
    transform: translateZ(-1.25px) scale(2.25);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -5;
}

.bg6 {
    transform: translateZ(-1.5px) scale(2.5);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -6;
}

.bg7 {
    transform: translateZ(-1.75px) scale(2.75);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -7;
}

.bg8 {
    transform: translateZ(-2px) scale(3);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -8;
}

.bg9 {
    transform: translateZ(-2.25px) scale(3.25);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -9;
}

.bg10 {
    transform: translateZ(-2.5px) scale(3.5);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -10;
}

.bg11 {
    transform: translateZ(-2.75px) scale(3.75);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -11;
}

.bg12 {
    transform: translateZ(-3px) scale(4);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -12;
}

.bg13 {
    transform: translateZ(-3.25px) scale(4.25);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -13;
}

.bg14 {
    transform: translateZ(-3.5px) scale(4.5);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -14;
}

.bg15 {
    transform: translateZ(-3.75px) scale(4.75);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -15;
}

.bg16 {
    transform: translateZ(-4px) scale(5);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -16;
}

.bg17 {
    transform: translateZ(-4.25px) scale(5.25);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -17;
}

.bg18 {
    transform: translateZ(-4.5px) scale(5.5);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -18;
}

.bg19 {
    transform: translateZ(-4.75px) scale(5.75);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -19;
}

.bg20 {
    transform: translateZ(-5px) scale(6);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -20;
}

.placeholder-content {
    min-height: 1000vh;
}

.bg1-stars,
.bg2-stars,
.bg3-stars,
.bg4-stars,
.bg5-stars,
.bg6-stars,
.bg7-stars,
.bg8-stars,
.bg9-stars,
.bg10-stars,
.bg11-stars,
.bg12-stars,
.bg13-stars,
.bg14-stars,
.bg15-stars,
.bg16-stars,
.bg17-stars,
.bg18-stars,
.bg19-stars,
.bg20-stars {
    stroke-linecap: square;
    overflow: visible;

    width: 100%;
    position: absolute;

    will-change: transform;
}

.moon {
    stroke-linecap: square;      /* affects open path ends */
    stroke-linejoin: miter;
    stroke-miterlimit: 10;
    overflow: visible;

    width: 100%;
    position: absolute;

    will-change: transform;

    fill: var(--bg-color);
    stroke: var(--base-moon-color);
    stroke-width: 5;
}

.bg18-stars {
    fill: var(--bg-color);
    stroke: color-mix(in oklab, var(--base-star-color), var(--bg-color-star-blend) 0%);
    stroke-width: 2;
}

.bg19-stars {
    fill: var(--bg-color);
    stroke: color-mix(in oklab, var(--base-star-color), var(--bg-color-star-blend) 40%);
    stroke-width: 2;
}

.bg20-stars {
    fill: var(--bg-color);
    stroke: color-mix(in oklab, var(--base-star-color), var(--bg-color-star-blend) 80%);
    stroke-width: 2;
}