:root {
    --page-width: min(75%, 100ch);

    --background-diamond-size: 100px;
    --background-diamond-angle: 45deg;
    --background-color-1: #000000;
    --background-color-2: #050505;

    --box-border-size: 2px;
    --box-border-color: #ff00ff;
    --box-background-color: black;
    --box-padding-x: 2ch;
    --box-padding-y: 1em;

    --diamond-decal-size: 24px;
    --diamond-decal-color: #00ffff;
}

* {
    box-sizing: border-box;
}

body {
    perspective: 1px;
    transform-style: preserve-3d;

    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;

    background-image: repeating-conic-gradient(from var(--background-diamond-angle),
            var(--background-color-1) 0% 25%,
            var(--background-color-2) 0% 50%);
    background-size: var(--background-diamond-size) var(--background-diamond-size);
    background-attachment: fixed;
}

.box {
    background-color: var(--box-background-color);
    border: var(--box-border-size) solid var(--box-border-color);
    padding-left: var(--box-padding-x);
    padding-right: var(--box-padding-x);
    padding-top: var(--box-padding-y);
    padding-bottom: var(--box-padding-y);
    width: var(--page-width);
    margin: 0 auto;
    position: relative;
}

.diamond-decal-tl,
.diamond-decal-tr,
.diamond-decal-bl,
.diamond-decal-br {
    position: absolute;
    width: var(--diamond-decal-size);
    height: var(--diamond-decal-size);
    background: var(--diamond-decal-color);
    clip-path: polygon(0% 50%, 33.33333% 33.33333%, 50% 0%, 66.66667% 33.33333%, 100% 50%,
            66.66667% 66.66667%, 50% 100%, 33.33333% 66.66667%);
}

.diamond-decal-tl {
    top: calc(-0.5 * (var(--diamond-decal-size) + var(--box-border-size)));
    left: calc(-0.5 * (var(--diamond-decal-size) + var(--box-border-size)));
}

.diamond-decal-tr {
    top: calc(-0.5 * (var(--diamond-decal-size) + var(--box-border-size)));
    right: calc(-0.5 * (var(--diamond-decal-size) + var(--box-border-size)));
}

.diamond-decal-bl {
    bottom: calc(-0.5 * (var(--diamond-decal-size) + var(--box-border-size)));
    left: calc(-0.5 * (var(--diamond-decal-size) + var(--box-border-size)));
}

.diamond-decal-br {
    bottom: calc(-0.5 * (var(--diamond-decal-size) + var(--box-border-size)));
    right: calc(-0.5 * (var(--diamond-decal-size) + var(--box-border-size)));
}